<a href="https://colab.research.google.com/github/tamayoram/Platzi/blob/main/GroupBy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [9]:
pd.options.display.float_format='{:,.2f}'.format

In [3]:
df=sns.load_dataset('diamonds')

In [ ]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [ ]:
df.groupby('cut').mean() # promedio para todas la variables agrupando por la columna cut

           carat  depth  table    price    x    y    z
cut
Ideal       0.70  61.71  55.95 3,457.54 5.51 5.52 3.40
Premium     0.89  61.26  58.75 4,584.26 5.97 5.94 3.65
Very Good   0.81  61.82  57.96 3,981.76 5.74 5.77 3.56
Good        0.85  62.37  58.69 3,928.86 5.84 5.85 3.64
Fair        1.05  64.04  59.05 4,358.76 6.25 6.18 3.98

In [ ]:
df.groupby('cut')['carat'].mean() # sacar la media agrupando por cut para la columna carat

cut
Ideal       0.70
Premium     0.89
Very Good   0.81
Good        0.85
Fair        1.05
Name: carat, dtype: float64

In [ ]:
df.groupby('cut')['carat'].count() # conteo

cut
Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: carat, dtype: int64

In [4]:
df.groupby('cut')['carat'].min() # mínimo

cut
Ideal        0.20
Premium      0.20
Very Good    0.20
Good         0.23
Fair         0.22
Name: carat, dtype: float64

In [5]:
for i in [0,1,2,3]:
  print(i)

0
1
2
3

In [11]:
pd.options.display.float_format='{:,.2f}'.format

for key_group,group in df.groupby('cut'):
  grouped_price=group['price'].mean()

  print('Cut:{},Price {}'.format(key_group,grouped_price))

Cut:Ideal,Price 3457.541970210199
Cut:Premium,Price 4584.2577042999055
Cut:Very Good,Price 3981.7598907465654
Cut:Good,Price 3928.864451691806
Cut:Fair,Price 4358.757763975155

In [13]:
df.groupby(['cut','color'])['price'].mean() #agrupación por dos variables Se genera el precio promedio para cada color dentro de cada grupo cut

cut        color
Ideal      D       2,629.09
           E       2,597.55
           F       3,374.94
           G       3,720.71
           H       3,889.33
           I       4,451.97
           J       4,918.19
Premium    D       3,631.29
           E       3,538.91
           F       4,324.89
           G       4,500.74
           H       5,216.71
           I       5,946.18
           J       6,294.59
Very Good  D       3,470.47
           E       3,214.65
           F       3,778.82
           G       3,872.75
           H       4,535.39
           I       5,255.88
           J       5,103.51
Good       D       3,405.38
           E       3,423.64
           F       3,495.75
           G       4,123.48
           H       4,276.25
           I       5,078.53
           J       4,574.17
Fair       D       4,291.06
           E       3,682.31
           F       3,827.00
           G       4,239.25
           H       5,135.68
           I       4,685.45
           J       4,975.66
Name: price, dtype: float64

In [15]:
df.groupby(['cut','color'])['price'].aggregate([min,np.mean,max]) # generar varias funciones al tiempo con la función aggregate

                 min     mean    max
cut       color
Ideal     D      367 2,629.09  18693
          E      326 2,597.55  18729
          F      408 3,374.94  18780
          G      361 3,720.71  18806
          H      357 3,889.33  18760
          I      348 4,451.97  18779
          J      340 4,918.19  18508
Premium   D      367 3,631.29  18575
          E      326 3,538.91  18477
          F      342 4,324.89  18791
          G      382 4,500.74  18741
          H      368 5,216.71  18795
          I      334 5,946.18  18823
          J      363 6,294.59  18710
Very Good D      357 3,470.47  18542
          E      352 3,214.65  18731
          F      357 3,778.82  18777
          G      354 3,872.75  18818
          H      337 4,535.39  18803
          I      336 5,255.88  18500
          J      336 5,103.51  18430
Good      D      361 3,405.38  18468
          E      327 3,423.64  18236
          F      357 3,495.75  18686
          G      394 4,123.48  18788
          H      368 4,276.25  18640
          I      351 5,078.53  18707
          J      335 4,574.17  18325
Fair      D      536 4,291.06  16386
          E      337 3,682.31  15584
          F      496 3,827.00  17995
          G      369 4,239.25  18574
          H      659 5,135.68  18565
          I      735 4,685.45  18242
          J      416 4,975.66  18531

In [18]:
def promedio_mil(x): # definición de una función
  return np.mean(x)/1000

In [19]:
df.groupby(['cut','color'])['price'].aggregate([min,np.mean,max,promedio_mil])

                 min     mean    max  promedio_mil
cut       color
Ideal     D      367 2,629.09  18693          2.63
          E      326 2,597.55  18729          2.60
          F      408 3,374.94  18780          3.37
          G      361 3,720.71  18806          3.72
          H      357 3,889.33  18760          3.89
          I      348 4,451.97  18779          4.45
          J      340 4,918.19  18508          4.92
Premium   D      367 3,631.29  18575          3.63
          E      326 3,538.91  18477          3.54
          F      342 4,324.89  18791          4.32
          G      382 4,500.74  18741          4.50
          H      368 5,216.71  18795          5.22
          I      334 5,946.18  18823          5.95
          J      363 6,294.59  18710          6.29
Very Good D      357 3,470.47  18542          3.47
          E      352 3,214.65  18731          3.21
          F      357 3,778.82  18777          3.78
          G      354 3,872.75  18818          3.87
          H      337 4,535.39  18803          4.54
          I      336 5,255.88  18500          5.26
          J      336 5,103.51  18430          5.10
Good      D      361 3,405.38  18468          3.41
          E      327 3,423.64  18236          3.42
          F      357 3,495.75  18686          3.50
          G      394 4,123.48  18788          4.12
          H      368 4,276.25  18640          4.28
          I      351 5,078.53  18707          5.08
          J      335 4,574.17  18325          4.57
Fair      D      536 4,291.06  16386          4.29
          E      337 3,682.31  15584          3.68
          F      496 3,827.00  17995          3.83
          G      369 4,239.25  18574          4.24
          H      659 5,135.68  18565          5.14
          I      735 4,685.45  18242          4.69
          J      416 4,975.66  18531          4.98

In [20]:
def filtro(x):
  return promedio_mil(x['price'])>4 # el x corresponde al nombre del dataframe. Se selecciona price del dataframe y se filtra los mayores a 4

In [21]:
df.groupby('cut').filter(filtro)

       carat      cut color clarity  depth  table  price    x    y    z
1       0.21  Premium     E     SI1  59.80  61.00    326 3.89 3.84 2.31
3       0.29  Premium     I     VS2  62.40  58.00    334 4.20 4.23 2.63
8       0.22     Fair     E     VS2  65.10  61.00    337 3.87 3.78 2.49
12      0.22  Premium     F     SI1  60.40  61.00    342 3.88 3.84 2.33
14      0.20  Premium     E     SI2  60.20  62.00    345 3.79 3.75 2.27
...      ...      ...   ...     ...    ...    ...    ...  ...  ...  ...
53928   0.79  Premium     E     SI2  61.40  58.00   2756 6.03 5.96 3.68
53930   0.71  Premium     E     SI1  60.50  55.00   2756 5.79 5.74 3.49
53931   0.71  Premium     F     SI1  59.80  62.00   2756 5.74 5.73 3.43
53934   0.72  Premium     D     SI1  62.70  59.00   2757 5.69 5.73 3.58
53938   0.86  Premium     H     SI2  61.00  58.00   2757 6.15 6.12 3.74

[15401 rows x 10 columns]

In [22]:
df = pd.DataFrame({'a': ['w'] * 4 + ['x'] * 3 + ['y'] * 2 + ['z']+['v'], 
                   'b': [1, 1, 1, 1, 2, 2, 2, 3, 3, 4,5]})
df # datos repetidos

    a  b
0   w  1
1   w  1
2   w  1
3   w  1
4   x  2
5   x  2
6   x  2
7   y  3
8   y  3
9   z  4
10  v  5

In [23]:
df.duplicated() # marca registros duplicados en la BD

0     False
1      True
2      True
3      True
4     False
5      True
6      True
7     False
8      True
9     False
10    False
dtype: bool

In [24]:
df.duplicated(keep='first')

0     False
1      True
2      True
3      True
4     False
5      True
6      True
7     False
8      True
9     False
10    False
dtype: bool

In [25]:
df.duplicated(keep='last')

0      True
1      True
2      True
3     False
4      True
5      True
6     False
7      True
8     False
9     False
10    False
dtype: bool

In [26]:
df[~ df.duplicated()] # Filtrar aquellos que no son duplicados

    a  b
0   w  1
4   x  2
7   y  3
9   z  4
10  v  5

In [27]:
df.drop_duplicates() # Borra los duplicados del data frame

    a  b
0   w  1
4   x  2
7   y  3
9   z  4
10  v  5

In [28]:
df

    a  b
0   w  1
1   w  1
2   w  1
3   w  1
4   x  2
5   x  2
6   x  2
7   y  3
8   y  3
9   z  4
10  v  5

In [29]:
df=sns.load_dataset('tips')
df

     total_bill  tip     sex smoker   day    time  size
0         16.99 1.01  Female     No   Sun  Dinner     2
1         10.34 1.66    Male     No   Sun  Dinner     3
2         21.01 3.50    Male     No   Sun  Dinner     3
3         23.68 3.31    Male     No   Sun  Dinner     2
4         24.59 3.61  Female     No   Sun  Dinner     4
..          ...  ...     ...    ...   ...     ...   ...
239       29.03 5.92    Male     No   Sat  Dinner     3
240       27.18 2.00  Female    Yes   Sat  Dinner     2
241       22.67 2.00    Male    Yes   Sat  Dinner     2
242       17.82 1.75    Male     No   Sat  Dinner     2
243       18.78 3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [31]:
df.describe(include='all')

        total_bill    tip   sex smoker  day    time   size
count       244.00 244.00   244    244  244     244 244.00
unique         nan    nan     2      2    4       2    nan
top            nan    nan  Male     No  Sat  Dinner    nan
freq           nan    nan   157    151   87     176    nan
mean         19.79   3.00   NaN    NaN  NaN     NaN   2.57
std           8.90   1.38   NaN    NaN  NaN     NaN   0.95
min           3.07   1.00   NaN    NaN  NaN     NaN   1.00
25%          13.35   2.00   NaN    NaN  NaN     NaN   2.00
50%          17.80   2.90   NaN    NaN  NaN     NaN   2.00
75%          24.13   3.56   NaN    NaN  NaN     NaN   3.00
max          50.81  10.00   NaN    NaN  NaN     NaN   6.00

In [34]:
df['day'].value_counts()

Sat     87
Sun     76
Thur    62
Fri     19
Name: day, dtype: int64

In [35]:
df['day'].value_counts(normalize = True)*100

Sat    35.66
Sun    31.15
Thur   25.41
Fri     7.79
Name: day, dtype: float64

In [36]:
df.groupby('sex').mean()

        total_bill  tip  size
sex
Male         20.74 3.09  2.63
Female       18.06 2.83  2.46

In [37]:
df.groupby('sex')['total_bill'].describe() # descripción de estadísticos por género para el total de la factura

        count  mean  std  min   25%   50%   75%   max
sex
Male   157.00 20.74 9.25 7.25 14.00 18.35 24.71 50.81
Female  87.00 18.06 8.01 3.07 12.75 16.40 21.52 44.30

In [41]:
def promedio_10(x):
  return np.mean(x)*1.1

In [42]:
df.groupby('sex')['total_bill'].apply(promedio_10)

sex
Male     22.82
Female   19.86
Name: total_bill, dtype: float64

In [44]:
df.groupby('sex')['total_bill'].apply(np.std)

sex
Male     9.22
Female   7.96
Name: total_bill, dtype: float64

In [46]:
df.groupby(['sex','time'])['total_bill'].apply(np.std)

sex     time
Male    Lunch    7.83
        Dinner   9.42
Female  Lunch    7.39
        Dinner   8.12
Name: total_bill, dtype: float64

In [48]:
df.groupby(['sex','time'])['total_bill'].apply(lambda x: np.mean(x)*1.1) # crear directamente la función con lambda

sex     time
Male    Lunch    19.85
        Dinner   23.61
Female  Lunch    17.97
        Dinner   21.13
Name: total_bill, dtype: float64

In [50]:
df.groupby('sex')['total_bill'].aggregate([np.std,np.mean,np.max]) # si se quiere mas de una función se utiliza aggregate

        std  mean  amax
sex
Male   9.25 20.74 50.81
Female 8.01 18.06 44.30

In [52]:
dict_agg={'tip':[np.min,np.max],'total_bill':[np.mean,np.std]}
dict_agg

{'tip': [<function numpy.amin>, <function numpy.amax>],
 'total_bill': [<function numpy.mean>, <function numpy.std>]}

In [53]:
df.groupby('sex')['tip','total_bill'].aggregate(dict_agg) # si se quiere utilizar un diccionario de funciones

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

        tip       total_bill
       amin  amax       mean  std
sex
Male   1.00 10.00      20.74 9.25
Female 1.00  6.50      18.06 8.01